.c-seccionToggle {
    display: none;
    background: #fff;
    color: #001F3F;
    text-align: center; 
    margin-bottom: 10px;
  }
    
  .c-btn-toggle {
    padding: auto;
    margin-top: 5px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    display: block;
    border-radius: 0.25em;
    background: rgb(252,149,2);
    background: linear-gradient(144deg, rgba(252,149,2,0.7595413165266106) 0%, rgba(249,247,109,1) 100%);
    text-align: center; 
  }
    .c-btn-toggle:hover {
      color: white;
      text-decoration: none; }
  
  @media screen and (max-width: 500px) {
    .seccionToggle h2 {
      margin-top: 0; } }
  @media screen and (max-height: 550px) {
    .seccionToggle h2 {
      font-size: 40px;
      margin-top: 0; } }