//http://w3.unpocodetodo.info/css3/flex-menu.php
.c-menu {
    background-color: yellow;
    display: flex;
   // align-items: stretch;
    padding: 20px;
    width: 100%;
}

.c-menu__izquierda {
    background-color: red;
    flex: 1;
    text-align: center;

}

.c-menu__derecha {
    background-color: brown;
    flex: 1;
    text-align: right;

}

.c-menu__opciones {
    list-style: none;
    padding: 0;
    margin: 0;

    li a{

    }
}

.c-menu__opciones li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}

.c-menu__opciones li a:hover {
    background: tomato;
    color: white;
}
@media screen and (min-width: 480px) {
    .c-menu__opciones ul {
      display: flex;
      justify-content: flex-start;
    }
}