body{
    font-family: Verdana, Geneva, sans-serif;
}
#cuerpo{

    min-height: 80vh;
}
footer{
    position: relative;
    bottom: 0;
    justify-content: center; 
}
.error_mensaje{
    color: red;
    padding-bottom: 30px;
    font-weight:  bolder;
}